.TaskItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
  /* border-bottom: 1px solid #eee; */
}

.App {
  text-align: center;
}

.deleteTaskButton {
  color: red;
  size: 10px;
  cursor: pointer;
  border-radius: 100%;
  border-color: red;
  border-style: solid;
  width: 17px;
}
